.card-list{
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* 1fr means har part equal ho */
    grid-gap: 20px;
    /* means har column 20px ka ho */
}